*{
    margin: 0;
    box-sizing: border-box;
    background-color: #efefef;
}

.wrapper{
    height: 100vh;    
}
.sub-heading{
    display: inline;
}
.logout-btn{
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .sub-heading{
      color: blue;
      text-align: center;
  }
  .login-col{
      padding-top: 10px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
}
 